<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../iron-form/iron-form.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../paper-progress/paper-progress.html">
<script src = "../jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<!--
`nuco-document-upload`


@demo demo/index.html
-->

<dom-module id="nuco-document-upload">
  <template>
    <style>
      :host {
        display: block;
        color: var(--primary-color);
        text-align: center;
        margin: 0;
        padding: 0;
        --paper-progress-active-color: var(--primary-color);
        --paper-progress-secondary-color: var(--secondary-color);
      }

      #inputWrapper {
        border: 3px dashed;
        padding: 64px 0  64px 0;
        border-radius: 4px;
      }

      paper-button {
        background-color: var(--primary-color);
        color: white;
        --paper-button-ink-color: white;
      }

      paper-progress {
        width: 67%;
        margin: 0 auto 0 auto;
        transition: all .5s ease-in-out;
        opacity: 0;
      }

      .unhidden {
        opacity: 1;
      }

      .title {
        color: var(--primary-color);
      }

      .success {
         color: rgba(135, 211, 124, 1);
      }

      .fail {
         color: rgba(231, 76, 60, 1);
      }
    </style>

    <iron-ajax
      id="ajaxupload"
      method="POST"
      body="{{payload}}"
      url='{{url}}/?access_token={{token}}'
      last-response="{{response}}"
      on-response="_handleNetworkResponse"
      on-error="_handleNetworkError">
    </iron-ajax>

    <form
    id="form"
    class="box"
    method="post"
    action="{{url}}?token={{token}}"
    enctype="multipart/form-data"
    on-drop="_handleDrop"
    on-dragstart="_stopDefaultBehavior"
    on-dragover="_stopDefaultBehavior"
    on-dragenter="_stopDefaultBehavior"
    on-drag="_stopDefaultBehavior"
    on-dragleave="_stopDefaultBehavior">
    <input
        hidden
        class="box__file"
        type="file"
        name="document"
        id="file"
        data-multiple-caption="{count} files selected"
        multiple />
      <div id="inputWrapper" class="">
        <paper-progress id="progress" indeterminate></paper-progress>

        <label for="file">
          <strong>Choose a file</strong>
          <span class="box__dragndrop"> or drag it here</span>.
        </label>
      </div>
    </form>
  </template>

  <script>
    var $form, $input, $label, uploadedFiles;

    Polymer({

      is: 'nuco-document-upload',

      _showFiles: function(files) {
        $label.text(files.length > 1 ?
          ($input.attr('data-multiple-caption') || '')
          .replace( '{count}', files.length ) : files[ 0 ].name);
      },
      attached: function() {
        $form = $('.box');
        $input = $form.find('input[type="file"]');
        $label = $form.find('label');
      },

      properties: {
        url: String,
        token: String,
        associatedModel: {
          type: String,
        },
        associatedModelId: {
          type: String
        },
        label: {
          type: String,
          value: 'Select a Document'
        },
        title: {
          type: String,
          value: 'Document Upload'
        }
      },

      _stopDefaultBehavior: function(e) {
        e.preventDefault();
        e.stopPropagation();
      },

      _handleDrop: function(e) {
        this._stopDefaultBehavior(e);
        uploadedFiles = e.dataTransfer.files;
        this._showFiles(uploadedFiles);
        this._submit(e);
      },

      _submit: function(e) {
        this._stopDefaultBehavior(e);

        this._presentProgressBar();

        var ajaxData = new FormData($form.get(0));
        ajaxData.append(this.associatedModel, this.associatedModelId);
        if (uploadedFiles) {
          $.each( uploadedFiles, function(i, file) {
            ajaxData.append( $input.attr('name'), file );
          });
        }
        this.set('payload', ajaxData);
        this.$.ajaxupload.generateRequest();

      },

      _handleNetworkError: function(e) {
        this._dismissProgressBar();
        this.fire(
          'nuco-network-error',
          {id: this.id, responseBody: e}
        );
        console.log('network error');
        this.toggleClass('success', false, this.$.inputWrapper);
        this.toggleClass('fail', true, this.$.inputWrapper);
      },

      _handleNetworkResponse: function(e) {
        this._dismissProgressBar();
        this.fire(
          'nuco-document-upload-completed',
          {id: this.id, responseBody: e}
        );
        console.log('upload success');
        this.toggleClass('fail', false, this.$.inputWrapper);
        this.toggleClass('success', true, this.$.inputWrapper);
      },

      _dismissProgressBar: function() {
        this.toggleClass('unhidden', false, this.$.progress);
      },

      _presentProgressBar: function() {
        this.toggleClass('unhidden', true, this.$.progress);
      }
    });
  </script>
</dom-module>
